emg_data
emg_data.tar.gz
__pycache__
.vscode
lm.binary
deepspeech-0.7.0-models.scorer
deepspeech-0.7.0-models.pbmm
models/recognition_model/model.pt
hifi_gan
logs/run
models/recognition_model
text_alignments
model_to_save/model.pt
